$base-size: 20px;
$page-margin: 70px;
$radius: 10px;

$font-text: 'Mukta', sans-serif;

$background-page-color: #E0F4F7;
$text-color: #1B1C1C;
$btn-hover: #5c636a;
$btn-bg: #6c757d;
$btn-cart: #fff;
$footer-background: #121111;
$footer-text: #fff;
$footer-icon-color: rgba(255, 255, 255, 0.55);
$footer-icon-hover: rgba(255, 255, 255, 0.75);

$nav-text: rgba(255, 255, 255, 0.55);
$nav-text-hover: rgba(255, 255, 255, 0.75);
