@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $page-margin;
  min-height: calc(100vh - 120px);

  .title {
    margin-bottom: $base-size;
  }
}
