@import '../../../styles/settings.scss';

.logo {
  font-size: 22px;
  color: $btn-cart;
}

.navItem {
  margin-right: 10px;
}

.navLink {
  color: $nav-text;


  &:hover {
    color: $nav-text-hover;
  }
}

.cart {
  height: 18px;
}

.cartWrapper {
  display: flex;
  align-items: center;

  .link {
    padding-right: 3px !important;
  }

  svg {
    filter: invert(0.7);
  }
}

@media (max-width: 332px) {
  .logo {
    font-size: 15px !important;
  }
}
