@import '../../../styles/settings.scss';

.component {
  margin-bottom: $base-size * 2;
}

.searchLabel {
  height: 100%;
  width: 100%;
}

.searchInput {
  height: 100%;
  width: 100%;
  @extend %btn-input;

  &:focus {
    outline: none;
  }
}

.filterContainer {
  position: relative;
}

.btn {
  height: 46px;
  width: 100%;
  padding: $base-size * 0.25;
  @extend %btn-input;

  span {
    padding-right: $base-size * 0.5;
  }

  svg {
    color: $color-dark;
  }
}

.listContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: calc(100% - 1.5rem);
  background: $color-white;
  box-shadow: $box-shadow-one;
  border: 1px solid $color-grey-one;
  z-index: 999;
}

.label {
  cursor: pointer;
  border-bottom: 1px solid $color-light-grey-three;
  height: $base-size * 2;
  padding-left: $base-size * 0.5;
  line-height: $base-size * 2;

  &:hover {
    background: $color-light-grey-three;
  }

  input {
    height: 0;
    width: 0;
  }

  span {
    margin-right: $base-size * 0.25;
  }

  svg {
    color: $color-dark;
  }
}

@media (max-width: 768px) {

  .component {
    margin-bottom: 0;
  }

  .inputContainer,
  .filterContainer {
    margin-bottom: $base-size * 1.5;
  }
}
