@import '../../../styles/settings.scss';

.link {
  text-decoration: none;
  color: $color-dark;

  &:hover {
    color: $color-dark;
  }

  .component {
    max-width: 300px;
    height: 450px;
    margin-bottom: ($base-size * 2);
    box-shadow: $box-shadow-one;
    border-radius: 10px;
    text-align: center;

    &:hover {
      box-shadow: $box-shadow-one-hover;
    }

    img {
      width: 100%;
      height: 350px;
      border-radius: $radius $radius 0 0;
      object-fit: cover;
    }

    .name {
      margin-top: ($base-size * 0.5);
    }

    p {
      font-size: $base-size;
    }
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .name {
    font-size: ($base-size * 1.25);
  }
}

@media (max-width:576px) {
  .component {
    margin: 0 auto ($base-size * 2);
  }
}
